html, body {
  margin: 0;
  padding: 0;
  font-family: "courier", monospace;
  background-image: url('paper.jpeg');
  background-repeat: no-repeat;
  background-attachment: fixed; 
  background-size: 80% 80%;
}

h1{
	font-size: 500%;
}
p{
	font-size: 100%;
}

canvas {
  display: block;
}
