html, body {
  margin: 0;
  padding: 0;
  font-family: "courier", monospace;
  background-image: url('paper.jpeg');
  background-repeat: no-repeat;
  background-attachment: fixed; 
  font-color:#612966;
}

h1{
	font-size: 500%;
	font-color:#405d67;
}
h2{
	font-color:#405d67;
}
p{
	font-size: 80%;
}

canvas {
  display: block;
}
